{% extends 'index.html' %}
<link href="/static/assets/css/select.css" rel="stylesheet" type="text/css">
{% block toggle-btn %}
    <a class="navbar-brand" id="btn-collapse-sidebar"><i class="fa fa-align-justify"></i></a>
{% endblock %}

{% block page_header %}
    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Crash Analysis</span> - Chart
    </h4>
{% endblock %}

{% block main-content %}
    <div class="sidebar sidebar-main sidebar-default" id="div-sidebar">
        <form class="form-horizontal">
            <div class="sidebar-content">
                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-title h6">
                        <span>Filters</span>
                        <ul class="icons-list">
                            <li><a href="#" data-action="collapse" class=""></a></li>
                        </ul>
                    </div>

                    <div class="category-content no-padding" style="display: block;">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Layout -->
                            <li class="active">
                                <a href="#" class="has-ul"><i class="icon-indent-decrease2"></i>
                                    <span>Year</span></a>
                                <ul>
                                    <div class="category-content sidebar-user">
                                        <div class="noui-slider-year noui-slider-danger"></div>
                                        <div class="clearfix">
                                            <span class="val-demo pull-left">From: <span id="noui-tooltip-year1"></span></span>
                                            <span class="val-demo pull-right">To: <span id="noui-tooltip-year2"></span></span>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <!-- /layout -->
                        </ul>
                    </div>

                    <div class="category-content no-padding" style="display: block;">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Layout -->
                            <li class="active">
                                <a href="#" class="has-ul"><i class="icon-indent-decrease2"></i>
                                    <span>Month</span></a>
                                <ul>
                                    <div class="category-content sidebar-user">
                                        <div class="noui-slider-month noui-slider-danger"></div>
                                        <div class="clearfix">
                                            <span class="val-demo pull-left">From: <span
                                                    id="noui-tooltip-month1"></span></span>
                                            <span class="val-demo pull-right">To: <span id="noui-tooltip-month2"></span></span>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <!-- /layout -->
                        </ul>
                    </div>

                    <div class="category-content no-padding" style="display: block;">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Layout -->
                            <li class="active">
                                <a href="#" class="has-ul"><i class="icon-indent-decrease2"></i>
                                    <span>Day of Week</span></a>
                                <ul>
                                    <div class="category-content sidebar-user">
                                        <div class="noui-slider-day noui-slider-danger"></div>
                                        <div class="clearfix">
                                            <span class="val-demo pull-left">From: <span
                                                    id="noui-tooltip-day1"></span></span>
                                            <span class="val-demo pull-right">To: <span
                                                    id="noui-tooltip-day2"></span></span>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <!-- /layout -->
                        </ul>
                    </div>

                    <div class="category-content no-padding" style="display: block;">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Layout -->
                            <li class="active">
                                <a href="#" class="has-ul"><i class="icon-indent-decrease2"></i>
                                    <span>Hour of Day</span></a>
                                <ul>
                                    <div class="category-content sidebar-user">
                                        <div class="noui-slider-hour noui-slider-danger"></div>
                                        <div class="clearfix">
                                            <span class="val-demo pull-left">From: <span
                                                    id="noui-tooltip-hour1"></span></span>
                                            <span class="val-demo pull-right">To: <span id="noui-tooltip-hour2"></span></span>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <!-- /layout -->
                        </ul>
                    </div>

                    <div class="category-content no-padding" style="display: block;">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Layout -->
                            <li class="active">
                                <a href="#" class="has-ul"><i class="icon-indent-decrease2"></i>
                                    <span>Injury Severity</span></a>
                                <ul>
                                    <div class="category-content sidebar-user">
                                        <div class="form-group">
                                            <div class="multi-select-full">
                                                <select class="multiselect" multiple="multiple">
                                                    <option value="opt2">Not Injured</option>
                                                    <option value="opt3">Killed</option>
                                                    <option value="opt4">Major Injury</option>
                                                    <option value="opt5">Moderate Injury</option>
                                                    <option value="opt5">Minor Injury</option>
                                                    <option value="opt5">Injury/ Unknown Severity</option>
                                                    <option value="opt5">Unknown</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <!-- /layout -->
                        </ul>
                    </div>

                    <div class="category-content no-padding" style="display: block;">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Layout -->
                            <li class="active">
                                <a href="#" class="has-ul"><i class="icon-indent-decrease2"></i>
                                    <span>Collision Type</span></a>
                                <ul>
                                    <div class="category-content sidebar-user">
                                        <div class="form-group">
                                            <div class="multi-select-full">
                                                <select class="multiselect" multiple="multiple">
                                                    <option value="opt2">Angle</option>
                                                    <option value="opt3">Head-on</option>
                                                    <option value="opt4">Hit fixed object</option>
                                                    <option value="opt5">Hit pedestrian</option>
                                                    <option value="opt5">Non collision</option>
                                                    <option value="opt5">Rear-end</option>
                                                    <option value="opt5">Rear-to-rear</option>
                                                    <option value="opt5">Sidewipe</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <!-- /layout -->
                        </ul>
                    </div>

                    <div class="sidebar-category">
                        <div class="category-title">
                            <span>Action buttons</span>
                            <ul class="icons-list">
                                <li><a href="#" data-action="collapse"></a></li>
                            </ul>
                        </div>

                        <div class="category-content">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn bg-primary-400 btn-block btn-float btn-float-lg"
                                            type="button"><i class="fa fa-check"></i> <span>Apply</span></button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn bg-purple-300 btn-block btn-float btn-float-lg"
                                            type="button"><i class="fa fa-refresh"></i> <span>Reset</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /main navigation -->
            </div>
        </form>

    </div>
    <div class="content-wrapper">
        <div class="row" id="mapPanel">
            <div class="col-md-7">
                <div class="panel panel-flat">
                    <div class="panel-body" id="pie-panel">
                        <div class="chart-container">
                            <div class="chart has-fixed-height" id="collision_type_chart"></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-flat no-margin-bottom">
                    <div class="panel-body" id="pie-panel">
                        <div class="chart-container">
                            <div class="chart has-fixed-height" id="intersection_type_chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-flat">
                    <div id="map"></div>
                </div>
            </div>
            <!-- /combination and connection -->
        </div>
        <!-- /combination and connection -->

        <!-- Line and bar combination -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="chart-container">
                            <div class="chart has-fixed-height" id="crash_chart"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="chart-container">
                            <div class="chart" style="height: 500px;" id="pie_bar_chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /line and bar combination -->

    </div>
    <script type="text/javascript" src="/static/assets/js/plugins/visualization/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/plugins/visualization/echarts/theme/macarons.js"></script>
    <script type="text/javascript" src="/static/assets/js/plugins/visualization/echarts/theme/infographic.js"></script>
    <script type="text/javascript" src="/static/assets/js/plugins/visualization/echarts/theme/roma.js"></script>
    <script type="text/javascript" src="/static/assets/js/plugins/visualization/echarts/theme/shine.js"></script>
    <!-- Google Maps -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&amp;language=en"></script>
    <script type="text/javascript" src="/static/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/static/assets/js/plugins/map/markerCluster.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/pages/map.js"></script>
    <script type="text/javascript" src="/static/assets/js/pages/allcharts.js"></script>
    <script type="text/javascript" src="/static/assets/js/pages/dashboard.js"></script>


    <!-- google maps initialization-->
    <script type="text/javascript">
        $(function () {
            // render the map
            $('#map').block({
                message: '<i class="icon-spinner9 spinner"></i>',
                overlayCSS: {
                    backgroundColor: '#1B2024',
                    opacity: 0.85,
                    cursor: 'wait'
                },
                css: {
                    border: 0,
                    padding: 0,
                    backgroundColor: 'none',
                    color: '#fff'
                }
            });
            setTimeout(function () {
                $.ajax({
                    url: '/capstone/api/getMajorOrFatal',
                    method: 'get',
                    dataType: 'json',
                    success: function (data) {
                        offersMapInit("map", data)
                        $('#map').unblock();
                    }
                })
            }, 5000)
        })

    </script>

{% endblock %}
